.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(https://wearerivet.com/app/uploads/2019/04/Rivet_Hero-1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-position: center center;
  margin: 5rem 0px;

  &__text {
    width: 55%;
    font-size: 3.5rem;
    padding: 0px 10rem;

    & > h1 {
      line-height: 7rem;
      font-weight: 800;
    }
  }
}

.whoSection {
  height: 75vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 180%;
  padding: 0px 10rem;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__left {
    flex: 4;
  }

  &__right {
    flex: 2;
    align-items: center;
  }
}
